{% extends 'base.html' %} {% block content %} {% load static %}
<div
  class="max-w-screen-xl mx-auto flex flex-col lg:flex-row border-2 border-slate-300 shadow-lg"
>
  <div class="w-full lg:w-1/3 px-8 pt-16 bg-lbrown-400">
    <img
      src="{% static 'edwin_id.jpg' %}"
      class="w-56 hover:w-64 mx-auto border-8 border-purple-200 rounded-full shadow-lg hover:shadow-3xl transition-all duration-500 ease-in-out"
    />
    <div class="w-fit my-8 mx-auto px-8">
      <div class="flex flex-row py-4">
        <p class="w-24 text-md font-bold mr-3">Address:</p>
        <p class="w-full text-slate-700 text-md">
          Ashaley Botwe, Greater Accra, Ghana
        </p>
      </div>
      <div class="flex flex-row py-4">
        <p class="w-24 text-md font-bold mr-3">Phone:</p>
        <p class="w-full text-slate-700 text-md">
          +233 532991996, +234 8054807297
        </p>
      </div>
      <div class="flex flex-row py-4">
        <p class="w-24 text-md font-bold mr-3">Email:</p>
        <p class="w-full text-slate-700 text-md">edwinokugbo@gmail.com</p>
      </div>
      <div class="flex flex-row py-4">
        <p class="w-24 text-md font-bold mr-3">Web:</p>
        <p class="w-full text-slate-700 text-md">https://idlelo.com/profile</p>
      </div>
      <div class="flex flex-row py-4">
        <p class="w-24 text-md font-bold mr-3">
          <i class="bi bi-twitter"></i>
        </p>
        <p class="w-full text-slate-700 text-md">edwinokugbo</p>
      </div>
      <div class="flex flex-row py-4">
        <p class="w-24 text-md font-bold mr-3">
          <i class="bi bi-linkedin"></i>
        </p>
        <p class="w-full text-slate-700 text-md">Edwin Okugbo</p>
      </div>
      <hr class="border border-lbrown-200 my-6" />
      <h1 class="text-xl text-slate-700 font-bold">Skills</h1>
      <hr />
      <h1 class="text-lg text-slate-600 font-bold mt-3">Languages</h1>
      <div class="flex flex-col py-4">
        <p class="w-24 text-md font-bold mr-3 mb-2">Python</p>
        <div class="w-full bg-white h-2 pr-10">
          <div class="w-full bg-purple-700 h-2"></div>
        </div>
      </div>
      <div class="flex flex-col py-4">
        <p class="w-24 text-md font-bold mr-3 mb-2">Javascript</p>
        <div class="w-full bg-white h-2 pr-3">
          <div class="w-full bg-purple-700 h-2"></div>
        </div>
      </div>
      <div class="flex flex-col py-4">
        <p class="w-24 text-md font-bold mr-3 mb-2">Typescript</p>
        <div class="w-full bg-white h-2 pr-48">
          <div class="w-full bg-purple-700 h-2"></div>
        </div>
      </div>
      <div class="flex flex-col py-4">
        <p class="w-24 text-md font-bold mr-3 mb-2">PHP</p>
        <div class="w-full bg-white h-2 pr-2">
          <div class="w-full bg-purple-700 h-2"></div>
        </div>
      </div>
      <div class="flex flex-col py-4">
        <p class="w-24 text-md font-bold mr-3 mb-2">Java</p>
        <div class="w-full bg-white h-2 pr-24">
          <div class="w-full bg-purple-700 h-2"></div>
        </div>
      </div>
      <div class="flex flex-col py-4">
        <p class="w-24 text-md font-bold mr-3 mb-2">Kotlin</p>
        <div class="w-full bg-white h-2 pr-32">
          <div class="w-full bg-purple-700 h-2"></div>
        </div>
      </div>
      <hr />
      <h1 class="text-lg text-slate-600 font-bold mt-3">
        Frameworks and Tools
      </h1>
      <div class="flex flex-col py-4">
        <p class="w-24 text-md font-bold mr-3 mb-2">ReactJS/NextJS</p>
        <div class="w-full bg-white h-2 pr-12">
          <div class="w-full bg-purple-700 h-2"></div>
        </div>
      </div>
      <div class="flex flex-col py-4">
        <p class="w-24 text-md font-bold mr-3 mb-2">Django</p>
        <div class="w-full bg-white h-2 pr-20">
          <div class="w-full bg-purple-700 h-2"></div>
        </div>
      </div>
      <div class="flex flex-col py-4">
        <p class="w-24 text-md font-bold mr-3 mb-2">Tensorflow</p>
        <div class="w-full bg-white h-2 pr-44">
          <div class="w-full bg-purple-700 h-2"></div>
        </div>
      </div>
      <div class="flex flex-col py-4">
        <p class="w-24 text-md font-bold mr-3 mb-2">Android Studio</p>
        <div class="w-full bg-white h-2 pr-24">
          <div class="w-full bg-purple-700 h-2"></div>
        </div>
      </div>
      <div class="flex flex-col py-4">
        <p class="w-24 text-md font-bold mr-3 mb-2">CodeIgniter</p>
        <div class="w-full bg-white h-2 pr-4">
          <div class="w-full bg-purple-700 h-2"></div>
        </div>
      </div>
      <div class="flex flex-col py-4">
        <p class="w-24 text-md font-bold mr-3 mb-2">NodeJS & Express</p>
        <div class="w-full bg-white h-2 pr-32">
          <div class="w-full bg-purple-700 h-2"></div>
        </div>
      </div>
      <div class="flex flex-col py-4">
        <p class="w-24 text-md font-bold mr-3 mb-2">JQuery</p>
        <div class="w-full bg-white h-2 pr-12">
          <div class="w-full bg-purple-700 h-2"></div>
        </div>
      </div>
      <div class="flex flex-col py-4">
        <p class="w-24 text-md font-bold mr-3 mb-2">MySQL</p>
        <div class="w-full bg-white h-2 pr-6">
          <div class="w-full bg-purple-700 h-2"></div>
        </div>
      </div>
      <div class="flex flex-col py-4">
        <p class="w-24 text-md font-bold mr-3 mb-2">PostgreSQL</p>
        <div class="w-full bg-white h-2 pr-32">
          <div class="w-full bg-purple-700 h-2"></div>
        </div>
      </div>
      <div class="flex flex-col py-4">
        <p class="w-24 text-md font-bold mr-3 mb-2">MongoDB</p>
        <div class="w-full bg-white h-2 pr-20">
          <div class="w-full bg-purple-700 h-2"></div>
        </div>
      </div>
      <div class="flex flex-col py-4">
        <p class="w-24 text-md font-bold mr-3 mb-2">TailwindCSS</p>
        <div class="w-full bg-white h-2 pr-6">
          <div class="w-full bg-purple-700 h-2"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="w-full lg:w-2/3 h-fit bg-lbrown-200">
    <div class="py-20 px-16">
      <div class="w-full mx-auto">
        <h1 class="text-5xl font-bold text-purple-600">Edwin</h1>
        <h1 class="text-5xl font-bold text-slate-600 mt-3">Mebele Okugbo</h1>
      </div>
      <div class="w-full mx-auto mt-8">
        <p class="text-slate-500 text-lg">
          <i class="fa fa-square text-purple-700 mr-1"></i> SYSTEMS ENGINEER AND
          FULL STACK DEVELOPER
        </p>
      </div>
    </div>
    <div class="bg-lbrown-100 px-16 pt-16">
      <div class="">
        <h1 class="text-lg font-bold text-purple-600">
          <i class="fa fa-square text-purple-700 mr-1"></i>INTRODUCTION
        </h1>
        <p class="mt-3 ml-4 pb-8 text-lg leading-8">
          I am a Systems Engineer and full stack developer. I have years of
          hands on experience in systems management, software solutions design,
          development and deployment on Desktop, Web and Mobile platforms. I am
          proficiently skilled in several programming languages and tools, and
          can learn new languages in very short time frames. I am a highly
          innovative and self-motivated person who can work very well with teams
          and can take leads when required. I do not shy away from challenging
          tasks. I am motivated by challenges and see them as opportunities to
          put in my best and even learn in the process. I love to challenge
          myself to surpass previous achievements. I require very little
          supervision and am very passionate about my work.
        </p>
      </div>
      <div class="">
        <h1 class="text-lg font-bold text-purple-600 uppercase">
          <i class="fa fa-square text-purple-700 mr-1 first-letter:"></i
          >EDUCATION
        </h1>
        <div class="mt-3 ml-4 pb-8 text-lg leading-8">
          <p class="text-lg text-slate-900">Computer Science</p>
          <p class="text-xl font-bold uppercase">University of Benin</p>
          <p class="text-slate-500">1991 - 1996</p>
        </div>
      </div>
      <div class="">
        <h1 class="text-lg font-bold text-purple-600 uppercase">
          <i class="fa fa-square text-purple-700 mr-1 first-letter:"></i
          >Experience
        </h1>
        <div class="mt-3 ml-4 pb-8 text-lg leading-8">
          <p class="text-xl font-bold uppercase">Medikal HMS Ltd</p>
          <p class="text-lg text-slate-900">Chief Software Developer and CEO</p>
          <p class="text-slate-500">2019 - present</p>
          <ul class="mt-4 list-disc">
            <li>
              Lead the development and implimentation of a healthcare startup.
              Product was an ERP healthcare management platform with 21 business
              modules.
            </li>
            <li>
              Responsible for innovation, new ideas and products that solve real
              life chalenges in the healthcare industry
            </li>
            <li>
              Designed processes, workflow, architechture and database for new
              products
            </li>
            <li>
              Developed the ideas as above using several languages and tools
              that best fitted each product
            </li>
            <li>
              Lead the design and development theme and contributed to the
              makerting team when required
            </li>
          </ul>
        </div>
        <div class="mt-3 ml-4 pb-8 text-lg leading-8">
          <p class="text-xl font-bold uppercase">Perfectsoft Systems Ltd</p>
          <p class="text-lg text-slate-900">
            Chief Developer and head of operations
          </p>
          <p class="text-slate-500">2006 - 2019</p>
          <ul class="mt-2 list-disc">
            <li>Responsible for new ideas and innovation</li>
            <li>Determined new directions for products and services</li>
            <li>
              Led research into market needs and company response to market
            </li>
            <li>
              Led research into market needs and company response to market
              needs including customer requirements and satisfaction
            </li>
            <li>
              Combined these with active participation in product design and
              development
            </li>
            <li>I learnt several new tools and methodologies in this period</li>
          </ul>
        </div>
        <div class="mt-3 ml-4 pb-8 text-lg leading-8">
          <p class="text-xl font-bold uppercase">Perfectsoft Systems Ltd</p>
          <p class="text-lg text-slate-900">
            Senior Developer and Project Lead
          </p>
          <p class="text-slate-500">2008 - 2015</p>
          <ul class="mt-4 list-disc">
            <li>
              Made a transition from Desktop to Web and Mobile applications
              development and helped the organisation develop various products
              both for the organisation and several clients.
            </li>
            <li>
              Started mobile Applications development on the Blackberry Platform
              with a Blackberry language learning app that got over 15,000
              downloads
            </li>
            <li>
              Moved on to the Google Android platform and developed several
              applications, some of which also had Web based versions. The list
              of applications are listed in the Developed Applications Section
              of this Profile
            </li>
            <li>
              During this period, I learnt several languages and tools including
              Netbeans, Codeigniter, Android Studio, Python/Django,
              Javascript/Angular JS, Bootstrap, jQuery among others.
              Systems/Database
            </li>
          </ul>
        </div>
        <div class="mt-3 ml-4 pb-8 text-lg leading-8">
          <h1 class="text-lg font-bold text-purple-600 uppercase">
            <i class="fa fa-square text-purple-700 mr-1 first-letter:"></i
            >Projects
          </h1>
          <ul class="mt-2 list-disc">
            <li>
              I developed and implemented a hotel management desktop/server
              application
            </li>
            <li>
              I also developed and implemented a PBX Call accounting application
              for hotels
            </li>
            <li>
              I also developed a cyber security, anti-spam application for
              Internet Cafes
            </li>
          </ul>
        </div>
        <div class="mt-3 ml-4 pb-8 text-lg leading-8">
          <h1 class="text-lg font-bold text-purple-600 uppercase">
            <i class="fa fa-square text-purple-700 mr-1 first-letter:"></i
            >Professional Affilliations/Memberships
          </h1>
          <ul class="mt-2 list-disc">
            <li>
              Secretary and Member of Governing Council, Free and Open Source
              Software Foundation for Africa
            </li>
            <li>Member of Nigerian Linux User Group</li>
          </ul>
        </div>
        <div class="mt-3 ml-4 pb-8 text-lg leading-8">
          <h1 class="text-lg font-bold text-purple-600 uppercase">
            <i class="fa fa-square text-purple-700 mr-1 first-letter:"></i
            >Exposure
          </h1>
          <ul class="mt-2 list-disc">
            <li>
              Presented a paper on Solutions to cyber fraud at Idlelo
              conference, Open Source Conference, Capetown, South Africa
            </li>
            <li>
              Participated in Fossfa Conference, Tswane (Pretoria), South Africa
            </li>
            <li>
              Participated in FOSS plus conference in Senegal and presented a
              paper on the SMS blackbox. A project to help use SMS as a business
              tool for reaching rural communities
            </li>
            <li>
              Participated in several West African Internet governance forums as
              a resource person
            </li>
          </ul>
        </div>
        <div class="mt-3 ml-4 pb-8 text-lg leading-8">
          <h1 class="text-lg font-bold text-purple-600 uppercase mb-4">
            <i class="fa fa-square text-purple-700 mr-1 first-letter:"></i
            >Project Listing
          </h1>
          <div id="project-div"></div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
